{% set list_divider=true %}
{% set list_classes='' %}
<div class="section-content">
    <md-list class="md-transparent {{ list_classes }} list--nav themed">
        {% if list_subhead is defined and list_subhead|length %}
            <md-subheader>{{ list_subhead }}</md-subheader>
        {% endif %}
        {% for item in navs %}
            <md-list-item href="{{ item.url }}">
                {% if list_divider is defined  and list_divider == true %}
                    <md-divider></md-divider>
                {% endif %}
                <div class="md-list-text-container">{{ item.title }}</div>
                {% if item.url is defined %}
                    <md-button class="md-icon-button md-list-action">
                        <md-icon>chevron_right</md-icon>
                    </md-button>
                {% endif %}
            </md-list-item>
        {% endfor %}
    </md-list>
</div>





